@{
    ViewBag.Title = "Access Denied";
}


<h1>Dat gaat niet :)</h1>

<p>Je hebt geen rechten om deze pagina te bezoeken</p>
<a asp-action="index" asp-controller="home">
    Klik hier om terug te gaan naar de homepagina.
</a>
